/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* Body */

body {
  border: 2px solid greenyellow;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Clock */

#clock {
  border: 2px solid red;
  text-align: center;
  font-size: 2.5em;
  /* text-transform: capitalize; */

  #date {
  }

  #time {
  }
}
